body{
	background-image: url("http://img06.deviantart.net/25de/i/2012/134/3/1/037_by_koko_stock-d4zq28i.jpg");
	background-size: cover;
}

h1{
	font-family: "Poiret One", cursive;
	text-align: center;
	font-size: 45px;
}

#part1{
	background-color: rgba(0,0,0,0.5);
	color: white;
	font-family: "Poiret One", cursive;
	font-size: 30px;
}

#headerMenu li{
	display: inline;
	text-align: center;
	font-family: "Poiret One", cursive;
	font-size: 25px;
	padding-left: 25px;
	padding-right: 25px;

}

#headerMenu{
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
}
